*{
    margin: 0;
    padding: 0;
}
body{
    background-color :  rgb(181, 240, 93);
     height: 100vh;
}

#container {
    width: 100vw;

    text-align: center;
    font-family: cursive;
    background-image: url(/img/cute-green-snake-cartoon2FKKFJD-removebg-preview.png);
    background-repeat: no-repeat;
    background-position-x: 70vw;
    background-position-y: 15vw;
    background-size: 25vw;
    height: 100vh;
    
}

h1 {
    font-size: 14vh;
    padding: 2%;
}
#boxx{
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: inline-block; */
    /* text-align: center; */
}
.inner-box{
    width : 400px;
    height : 400px;
    display: inline-block;
    box-sizing: border-box;
}

#score{
    
    border: 10px solid black;
    margin:25%;
    width: 55%;
    background-color: rgb(252, 247, 247);
    font-size: 4rem;
    border-radius: 20px;

}
#mid-box{
    
    border: 10px solid black;
   
    background-color: rgb(240, 231, 231);
    font-size: 4rem;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);

}
#screen-btn-container{
    display: none;
}

.head{
    background-color: olivedrab;
    border-radius: 5px;
    border: 2px solid black;
}
.snake{
    background-color: rgb(239, 243, 9);
    border-radius: 5px;
    border: 2px solid black;
}
.food{
    background-color: rgb(241, 32, 32);
    border-radius: 5px;
    border: 2px solid black;
}



@media screen and (max-width:500px) {
    #box{
        padding-top: 80px;

    }
    #left-box {
      width: 280px;
      height: 120px;
      line-height: 30px;

    }
    #mid-box {
      width: 280px;
      height: 270px;
      

    }
    #right-box {
    margin-top: 4vh;
      width: 280px;
      height: 170px;
    
    }
    #screen-btn-container{
        display: block;
        width: 180px;
        height: 180px;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(3, 3fr);
    }
    .direction-btn img{
        width: 100%;
         transition: transform .2s;
    }
    .effect {
        transform: scale(.8);

    }

    #ArrowUp{
        width: 100%;
        height: 100%;
        grid-row-start: 1;
        grid-column-start: 2;
    }
    #ArrowDown{
        width: 100%;
        height: 100%;
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #ArrowLeft{
        width: 100%;
        height: 100%;
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #ArrowRight{
        width: 100%;
        height: 100%;
        grid-row-start: 2;
        grid-column-start: 3;
    }


    h1 {
         font-size: 10vw;
        padding-bottom: 2%;
    }

    #score{
    
        border: 10px solid black;
        margin:0%;
        width: 55%;
        background-color: rgb(252, 247, 247);
        font-size: 25px;
        border-radius: 20px;
        
    }
}
